@page
@model RazorTest.Pages.Index1Model
@{
    ViewData["Title"] = "GraphQL Testing";
}

<div class="text-center">
    <h1 class="display-4">GraphQL Testing</h1>
    <p>This page should be designed to test GraphQL queries</p>
</div>
